.container {
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  background-color: #fafcfb;
}

.main {
  padding-top: 91px;
  padding-bottom: 91px;
}

@media (max-width: 820px) {
  .main {
    padding-top: 91px;
    padding-bottom: 91px;
  }
}

.content {
  width: 100%;
}

@media (min-width: 820px) {
  .content {
    width: 820px;
    margin: 0 auto;
  }
}
