.container {
  width: 100vw;
  height: auto;
  background-color: rgb(246, 246, 246);
}

.main {
  width: 820px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}

@media (max-width: 375px) {
  .main {
    max-width: 375px;
  }
}

/* 아이패드 크기 */
@media (min-width: 820px) {
  .main {
    max-width: 820px;
  }
}
